@using MockResponse.Web.Models;
@using MockResponse.Web.Resources;
@model HomeIndexModel;
@using MockResponse.Web.Infrastructure;
@using MockResponse.Web.Controllers;
@{
    Layout = "_Layout";
}

@if (Model.Authenticated)
{
    <span>Welcome @Model.RequestContext.Session.Name</span>
    <a href="/logout">@Translations.LoginSignupLogoutButton</a>

    <nav>
        <ul>
            <li class="list">@(Url.Action<AdminController>(c => c.List(), "List"))</li>
            <li class="add">@(Url.Action<AdminController>(c => c.Edit(string.Empty), "Add", new { responseId = "0" }))</li>
		</ul>
	</nav>
}
else
{
    <span>@Translations.LoginSignupLabel</span>
    using (Html.BeginForm("LoginRequest", "Auth", FormMethod.Post))
    {
        <fieldset>
            <input type="text" placeholder="@Translations.LoginPlaceholder" maxlength="100" id="authIdentity" name="authIdentity" />
            <button type="submit">@Translations.LoginSignupSubmitButton</button>
        </fieldset>
    }
}